@charset "UTF-8";
/* CSS Document */
.album_pagination_top {
        float: right;
        clear: both;
        margin: 5px 0;
        display: block;
}
.clear {clear:both;}
#albumtop .picturenav li a, #albumtop #picturecontrols li a {
        padding: 1px 5px;
        font-family:Tahoma,Calibri,Verdana,Geneva,sans-serif;
        font-weight: bold;
        font-size: 11px;
        display: inline-block;
        margin-left: 3px;
        color: #4e4e4e;
     /*   border-right: 1px solid #eee; */
}
#albumtop .picturenav li a:hover, #albumtop #picturecontrols li a:hover {
        color: #417394;
}
#albumtop .picturenav li a.upload, #albumtop #picturecontrols li a.upload {
	background: url(https://forum.videohelp.com/images/buttons/reply_40b.png) no-repeat transparent left ;
	padding-left: 20px;
}
#albumtop .picturenav li a.upload:hover, #albumtop #picturecontrols li a.upload:hover {
	background: url(https://forum.videohelp.com/images/buttons/reply_40b-hover.png) no-repeat transparent left ;
	padding-left: 20px;
}
#albumtop .picturenav li a.edit, #albumtop #picturecontrols li a.edit {
	background: url(https://forum.videohelp.com/images/buttons/edit_40b.png) no-repeat transparent left ;
	padding-left: 20px;
        border-right: 1px solid #f5f5f5;
}
#albumtop .picturenav li a.edit:hover, #albumtop #picturecontrols li a.edit:hover {
	background: url(https://forum.videohelp.com/images/buttons/edit_40b-hover.png) no-repeat transparent left ;
	padding-left: 20px;
        border-right: 1px solid #f5f5f5;
}
#albumtop .picturenav li a.add, #albumtop #picturecontrols li a.add {
	background: url(https://forum.videohelp.com/images/site_icons/add.png) no-repeat transparent left ;
	padding-left: 20px;
}
#albumtop .picturenav li a.add:hover, #albumtop #picturecontrols li a.add:hover {
	background: url(https://forum.videohelp.com/images/site_icons/add-hover.png) no-repeat transparent left ;
	padding-left: 20px;
}
#albumtop .picturenav li a.editinfo, #albumtop #picturecontrols li a.editinfo {
	background: url(https://forum.videohelp.com/images/buttons/edit_40b.png) no-repeat transparent left ;
	padding-left: 20px;
}
#albumtop .picturenav li a.editinfo:hover, #albumtop #picturecontrols li a.editinfo:hover {
	background: url(https://forum.videohelp.com/images/buttons/edit_40b-hover.png) no-repeat transparent left ;
	padding-left: 20px;
}
#albumtop #picturecontrols li a.report {
	background: url(https://forum.videohelp.com/images/buttons/report-40b.png) no-repeat transparent left ;
	padding-left: 20px;
        border-right: 1px solid #f5f5f5;
}
#albumtop #picturecontrols li a.report:hover {
	background: url(https://forum.videohelp.com/images/buttons/report-40b-hover.png) no-repeat transparent left ;
	padding-left: 20px;
        border-right: 1px solid #f5f5f5;
}
.albumedit .blockrow {
	border: 1px solid #c4c4c4;
	margin: 10px 0;
 	-moz-box-shadow: -2px 2px 2px #c7cbcc;
	-webkit-box-shadow: -2px 2px 2px #c7cbcc;
}
.albumedit .blockrow .thumbnailedit {
        float: left;
        width: 160px;
        padding: 5px;
}
.albumedit .blockrow .maineditor {
        float: left;
        width: 350px;
        padding: 5px;
}
.albumedit .blockrow .movedelete {
        float: left;
        width: 160px;
        padding: 5px;
        margin-left: 10px;
}
.albumedit .blockrow .movedelete layer {
        clear:both;
        margin-bottom: 5px;
}
.albumedit .blockrow .maineditor textarea {
        background: #f2f6f8;
        border: 1px solid #cedfeb;
        min-height: 150px;
}
form .blockfoot { border: none; }
#album_content {
	width: 100%;
	float: left;
margin-right:-48%;
	margin-top: 5px;
	padding-bottom:2em;
	clear: both;
}

#album_content > div,
#album_content > form {
margin-right: 48%;
}
#album_content .content {
margin-right: 48%;
}
#album_sidebar {
	float:right;
/*	width:200px; */
width: 46.5%;
	margin-left:10px;
	margin-top: 5px;
}
#albumlist .blockbody ,#albumlist .blockbody.albumsback, #album_sidebar .blockbody, #album_content .blockbody, #album_sidebar .blockrow.albumlist_entry  {
        background: #2b2b2b;
        padding: 10px;
        border-left: 1px solid #484848;
        border-right: 1px solid #484848;
        border-bottom: 1px solid #484848;
}

.albumlist_entry  {
	float:left;
/*	margin:0 5px;
	margin-top:20px;
	padding: 0 15px 10px 15px; */
	margin-left:25px;
	margin-top:20px;
	padding: 0 15px 10px 15px;
	text-align:left;
	display:block;
	width:174px;
	height:205px;
	overflow:hidden;
	border: 1px solid #e9e9e9;
	background:#fff; /* url(https://forum.videohelp.com/images/gradients/form-control-gradient-alpha.png) repeat-x scroll center bottom; Commented out for sophie's mockup */
	-moz-box-shadow: -2px 2px 2px #c7cbcc;
	-webkit-box-shadow: -2px 2px 2px #c7cbcc;
}
/*
.albumlist_entry {
	position:relative;
	border-bottom:solid 1px rgb(204, 204, 204);
	background:rgb(238, 238, 238)  bottom repeat-x;
	clear:both; 
}
*/
.albumlist_entry .albumthumb {
	display:block;
/*	float:left; */
	width:150px;
/*	margin-right:10px; */
	margin: 5px auto;
	text-align:center;
}
.albumlist_entry img {
	-moz-box-shadow: -2px 2px 2px #ddd;
	-webkit-box-shadow: -2px 2px 2px #ddd;
}
.albumlist_entry .albumtitle {
/*	font-size:11pt; */
	font-weight:bold;
	text-decoration:none;
}

.albumlist_entry .albumdescription {
	font-size: 11px;
}
.albumlist_entry .shade {
	display: inline;
	font-size: 11px;
	padding-left: 3px;
}

.albumlist_entry .stats {
	margin-top:0.3em;
	font-size:11px;
}

/* Show album */

#thumbnails li {
	float:left;
	margin:10px;
	text-align:center;
	background-color:rgb(246, 246, 246);
	border:solid 1px rgb(213, 213, 213);
 	-moz-box-shadow: -2px 2px 2px #c7cbcc;
	-webkit-box-shadow: -2px 2px 2px #c7cbcc;
}

#thumbnails li:last-child {
	margin-bottom:10px;
}

#thumbnails li .picturetitle {
	display:none;
}

#thumbnails li .picture {
	display:block;
	width:150px;
	height:150px;
	padding:10px;
}

#album .blockfoot {
	/*text-align:right;*/
}

#edit_controls {
	float:right;
	padding:5px 10px;
}

#edit_controls li {
	font-size:11px;
	display:inline-block;
	margin-left: 10px;
}

#controls_above {
	margin-bottom:10px;
}

#controls_below {
	margin-top:10px;
}


#controls_above a.textcontrol,
#controls_below a.textcontrol {
	float:right;
	margin-left:10px;
}

#pagination_top,
#pagination_bottom {
	float:left;
}

.addgrouprow {
	text-align:center;
}

/* View picture */

#picturecontainer {
	margin:10px 20px;
}

#albumtop {
	font-size:1em;
        background: #f5f5f5;
        border: 1px solid #e8e7ee;
        padding: 5px;
        margin: 10px 0;
        clear:both;
}
#albumtop h1 { margin-right: 300px; display: inline; font-size: 1.2em; }
#picturestats {
	font-size:11px;
}

#picturelink {
	text-align:center;
	vertical-align:middle;
	display:block;
	margin:1em auto;
}

#picturelink img {
	background-color:rgb(246, 246, 246);
	border:solid 1px rgb(213, 213, 213);
	padding:10px;
	text-align:center;
	-moz-box-shadow: -2px 2px 2px #d7cbcc;
	-webkit-box-shadow: -2px 2px 2px #d7cbcc;
}

.picturenav {
	float:right;
}

.picturenav li {
	float:left;
	margin-left:10px;
}

#picturecaption {
	margin:1em auto;
	font-family:Verdana, Geneva, sans-serif;
	margin-right:400px;
}
#picturestats {
	margin-right:380px;
}
#picturestats dt {
	float:left;
	clear:left;
}

#picturestats dd {
	float:left;
	margin-left:0.5em;
}

#picturecontrols {
	float:right;
}
#picturecontrols li  {
	float:left;
	margin-left:10px;
}
#picturecontrols li a {
	text-align:center;
}

#pictureurls {
	float:right;
	padding-bottom:1em;
	width: 370px;
}

#pictureurls input.textbox {
	display:block;
	width:300px;
	margin:3px 0;
	background-color:rgb(246, 246, 246);
	border:solid 1px rgb(213, 213, 213);
	padding:3px;
}

/* Picture comments */

#above_posts {
	clear:both;
	position:relative;
}

#picturecommentpopups {
	position:absolute;
	right:0px;
	top:0px;
}

#picture_comment_inlinemod_form {
	margin-bottom:10px;
}

#below_posts {
	clear:both;
	position:relative;
	padding-bottom:1em;
}

#inlinemod_formctrls {
	float:right;
}

#addalbumlink {
	float:right;
}

#albumlist {
	margin-bottom:10px;
}

/* Latest Albums */
#latestalbumcontainer div.albumthumbcontainer, .albumlist_entry div.albumthumbcontainer {
	width:155px;
	height:140px;
	overflow:hidden;
	margin:5px auto;
	text-align:center;
	vertical-align: middle;
}
#latestalbumcontainer div.albumthumbcontainer img.album_cover {
	margin: auto 0;
	vertical-align: middle;
	-moz-box-shadow: -2px 2px 2px #ddd;
	-webkit-box-shadow: -2px 2px 2px #ddd;
}
#latestalbumcontainer p {
	overflow:hidden;
}

#latestalbumcontainer li {
	float:left;
	margin-left:25px;
	margin-top:20px;
	padding: 0 15px 10px 15px;
	text-align:left;
	display:block;
	width:174px;
	height:205px;
	overflow:hidden;
	border: 1px solid #e9e9e9;
	background:#fff; /* url(https://forum.videohelp.com/images/gradients/form-control-gradient-alpha.png) repeat-x scroll center bottom; Commented out for sophie's mockup */
	-moz-box-shadow: -2px 2px 2px #c7cbcc;
	-webkit-box-shadow: -2px 2px 2px #c7cbcc;
}

#latestalbumcontainer li:hover {
	background:#FFF url(https://forum.videohelp.com/images/gradients/form-control-gradient-alpha.png) repeat-x scroll center bottom;
}

#latestalbumcontainer li:last-child {
	margin-bottom:10px;
}

#latestalbumcontainer li a img {
	margin: auto;
}

#latestalbumcontainer li span {
	display:block;
	clear:left;
	margin-top:5px;
}
#latestalbumcontainer li span.time {
	display:inline;
}
#latestalbumcontainer .albumtitle {
	font-weight:bold;
	text-decoration:none;

}

#latestalbumcontainer .shade {
	font-size:11px;

}

#latestalbumcontainer .alb_unread_picture {
	margin-top:10px;
}

.alb_picturebit_checkbox {
	position:relative;
	width:px;
}
.alb_picturebit_checkbox_input {
	position:absolute;
	left: 0px;
	top: 0px;
}
#controls_top {
	margin-bottom:14px;
	margin-top:2px;
}

ol.addgrouplist .checkbox {
	margin-top:2px;
	float:left;
}

ol.addgrouplist .blockrow {
	background:rgb(238, 238, 238)  repeat-x bottom;
	border-bottom:solid 1px rgb(204, 204, 204);
}

ol.addgrouplist .desc {
	margin-left:20px;
}

ol.addgrouplist .desc strong {
	font-weight:bold;
} 