@charset "UTF-8";
/* CSS Document */

.gobutton {
	margin-left:10px;
}

ul.avatarlist {
	clear:left;
	margin-top:10px;
}

ul.avatarlist.singleavatar {
	margin-top:0;
}

ul.avatarlist li {
	float:left;
	margin:5px;
	width:85px;
	height:101px;
	text-align:center;
	position:relative;
	overflow:hidden;
	border: 1px solid #484848;
}

ul.avatarlist.singleavatar li {
	margin-bottom:10px;
}

ul.avatarlist li div.avatar {
	width:80px;
	height:80px;
	overflow:hidden;
	background: #202020;
	padding:2px;
}

ul.avatarlist li div.table {
	display:table;
	margin:auto;
	height:100%;
	width:80px; /* IE8!! */
}

ul.avatarlist li div.tablecell {
	display:table-cell;
	vertical-align:middle;
}

ul.avatarlist li div.avatar img {
	height:auto;
	max-width:80px;
	width:auto !important;
}

ul.avatarlist li div.label {
	padding-left:16px;
	font-size:11px;
	overflow:hidden;
	white-space:nowrap;
	height:14px;
	background: #2b2b2b;
}

ul.avatarlist li input.avatarid {
	position:absolute;
	bottom:2px;
	left:2px
}