@charset "UTF-8";
/* CSS Document */

#forums {
	clear:both;
}

.forumhead {
	background: #2b2b2b;
	_background-image: none;
	padding: 0;
	font:  bold 12px Verdana,Geneva,sans-serif;
	color:rgb(255, 255, 255);
	clear:both;
	margin-top: 8px;
	float: left;
	/* border: 1px solid #484848; */
	width: 100%;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
}

#forums .L1 .forumhead a {
	font:   bold 12px Verdana,Geneva,sans-serif;
}

#forums .L1 .forumhead .forumdescription {
	display:none;
}

#forums .L1 .L2 {
	display:block;
	clear: both;
}

#forums a.username {
	color: #000000;
}

#forums a.username:hover {
	color: #D35100;
}

.forumbit_post .forumrow, .forumbit_nopost .forumhead, .forumbit_nopost .forumrow, .forumbit_post .forumhead {
	-moz-box-shadow: -2px 2px 2px #c8c8c8;
	/* -webkit-box-shadow: -2px 2px 2px #c8c8c8; */
}

.forumhead + .childforum .L2:first-child .forumrow, .forumhead + .L2 .forumrow {
	background: #202020;
	_background-image: none;
	/* border-top: 1px solid rgb(255, 255, 255) !important; */
}

.forumrow + .childsubforum .forumrow, .forumhead + .childforum .L2:first-child .L2 .forumrow, .forumhead + .childforum .L2 .L2:first-child .forumrow {
	background: rgb(238, 240, 240) url(https://forum.videohelp.com/images/bg3.png) repeat-x left bottom;
	_background-image: none;
}

.forumbit_nopost .forumbit_nopost .forumrow, .forumbit_post .forumrow {
	background: #202020;
	_background-image: none;
	display:block;
	width: 100%;
	float: left;
	min-height: 39px; /* 48px is the icon size */
	position:relative;
	border-bottom: 1px solid #2b2b2b!important;
	border-left: 1px solid #2b2b2b!important;
	border-right: 1px solid #2b2b2b!important;
}

.forumbit_nopost .forumbit_nopost .forumrow .forumicon {
	position: absolute;
	left: 10px;
	top: 5px;
	width: 29px;
}

.forumbit_nopost .forumbit_nopost .forumrow .forumdata {
	display: inline-block;
	width:100%;
}

.forumbit_nopost .forumbit_nopost .forumrow .forumdata .datacontainer {
	margin-left: 49px;
}

.forumbit_nopost .forumbit_post .forumrow .forumdata .datacontainer {
	margin-left: 0;
}

/* forumbit nopost */
/* forumbit nopost -> forumhead */
.forumbit_nopost .forumhead .forumtitle, .forumbit_nopost .forumhead span, .forumbit_nopost .forumhead .collapse, .forumbit_post .forumhead h2 span {
	display:block;
	float: left;
	clear: right;
	font:   bold 12px Verdana,Geneva,sans-serif;
	padding: 4px 0;
	color: transparent;
}

.forumbit_nopost .forumhead h2, .forumbit_post .forumhead h2 {
	/*border-top: 1px solid rgb(255, 255, 255);*/
	margin-left: 3px;
	margin-right: 3px;
}
.forumbit_nopost {
	clear:left;
}
.forumbit_nopost .forumrowdata {
	clear:both;
	display:block;
	width: 100%;
}

.forumbit_nopost .subforumdescription {
	padding: 5px 10px;
	font-weight: normal;
	color: rgb(0, 0, 0);
	background: rgb(221, 223, 223) url(https://forum.videohelp.com/images/gradients/grey-up.png) repeat-x  ;
}

.forumbit_post .foruminfo .forumdata {
	padding: 4px 0;
	font-size: 13px;
}

.forumbit_nopost .forumhead .forumtitle {
	font-size: 14;
	min-width: 76%;
}

.forumbit_nopost .forumhead .forumtitle a {
	color: transparent;
	margin-left: 10px;
}

.forumbit_nopost .forumhead span, .forumbit_post .forumhead span {
	font-size: 13px;
}

.forumbit_nopost .forumhead span.forumlastpost, .forumbit_post .forumhead span.forumlastpost {
	width: 21%;
}

.forumbit_nopost .forumhead a.collapse img {
/* values are based on the image */
	position:absolute;
	top: -15px;
	right: -6px;
	display:block;
	width:13px;
	height:13px;
	overflow:hidden;
	background:transparent url(https://forum.videohelp.com/images/buttons/collapse_collapsed_40b.png) no-repeat;
	float: right;
	clear: left;
}

.forumbit_nopost:hover .forumhead  a.collapsegadget {
	visibility:visible;
}

.forumbit_nopost .forumbit_nopost .forumrow .forumdata, .forumbit_post .forumrow .forumdata  {
	padding: 5px 10px;
	padding-left: 0;
	font-size: 11px;
}

.forumbit_nopost .forumbit_nopost .foruminfo .subforums {
	margin-left: 10px;
	position: relative;
	top: -10px;
}

/* forumbit post */
.forumbit_post {
	float: left;
	position:relative;
	width: 99.9%;
	display:block;
}

.forumbit_post .forumhead span {
	padding: 0;
}

.forumbit_post .forumhead .forumlastpost {
	top: 0;
	margin-top: 0;
}

.forumbit_post .foruminfo, .forumbit_post .forumlastpost, .forumbit_post .forumactionlinks, .forumbit_post .forumstats, .forumbit_post .forumstats_2{
	padding: 5px 0;
}

/* commenting this out for the time being as it is included for test
.forumbit_post .forumstats {
	background: #f2f6f8;
margin: 0;
padding-bottom: 15px;
overflow:hidden;
}
*/
.forumbit_post .forumhead .forumtitle {
	width: 76%;
}

.forumbit_post .forumhead .forumtitle span {
padding: 0;
padding-left: 10px;
}

.forumbit_post .foruminfo {
	width: 57%;
	min-width: 30%;
	float: left;
	clear: right;
	min-height: 29px;
}

.forumbit_post .foruminfo .forumicon{
	position: absolute;
	left: 10px;
	width: 29px;
}

.forumbit_post .foruminfo .forumdata, .forumbit_post .foruminfo .forumtitle, .forumbit_post .foruminfo .viewing {
	float: left;
	clear: right;
	color: #9f9f9f;
}

.forumbit_post .foruminfo .viewing {
        white-space:nowrap;
}

.forumbit_post .foruminfo .forumdata {
	padding: 0;
	width: 100%;
}

.forumbit_post .foruminfo .forumdata .datacontainer {
	float: left;
	width: 88%;
	padding-left: 49px;
}

.forumbit_post .foruminfo .forumdata .forumtitle, .forumbit_nopost .forumbit_nopost .forumrow .forumtitle {

font-size: 14px;
	margin-right: 10px;
}

.forumbit_post .foruminfo .forumdata .forumtitle a, .forumbit_nopost .forumbit_nopost .forumrow .forumtitle a {
/*	color: #000000; */
	font-weight:bold;
}

.childsubforum .forumbit_post .foruminfo .forumdata .datacontainer .forumtitle a {
        padding-left:1.8em;
        background:url('https://forum.videohelp.com/images/misc/child_forum.png') top left no-repeat;
}

.forumbit_post .foruminfo .forumdata .viewing {
	font-style: italic;
	margin-right:10px;
	margin-top: 3px;
	font-size: 12px;
}

.forumbit_post .forumactionlinks {
	width: 5%;
	display:block;
	float:left;
	clear:right;
}

.forumbit_post .forumactionlinks li {
	display: inline;
}

.forumbit_post .forumactionlink {
/* values based on icon size */
	display:block;
	width:18px;
	height:12px;
	overflow:hidden;
	float: right;
	clear: left;
	background:transparent none no-repeat;
	position: relative;
	margin: 3px 10px 0 0;
}

.forumactionlink a {
/* values based on icon size */
	display:block;
	padding-left:18px;
}

.forumactionlinks .rsslink {
	background-image:url(https://forum.videohelp.com/images/misc/rss_40b.png);
}

.forumactionlinks .subslink {
	background-image:url(https://forum.videohelp.com/images/misc/subscribed_40b.png);
}
.forumactionlinks .unsubslink {
	background-image:url(https://forum.videohelp.com/images/misc/unsubscribed_40b.png);
}
.forumbit_post .forumdescription {
	display:block;
	clear:both;
	padding-right: 10px;
line-height:1.5em;
}

.forumbit_post .unsubscribe {
	display:block;
	right: 0;
	top: 2px;
}

.forumbit_post .forumstats, .forumbit_post .forumstats_2 {
	display: block;
	float: left;
	clear: right;
	width: 12%;
	margin-right: 2%;
}

.forumbit_post .forumstats li, .forumbit_post .forumstats_2 li{
	font-size: 13px;
	text-align: right;
	padding-right: 20px;
	display:block;
}


.forumbit_post .forumlastpost {
	display:block;
	float: left;
	clear: right;
}

.forumbit_post .forumrow .forumlastpost {
	width: 22%;
	font-size: 13px;
	padding-top: 5px;
}

.forumbit_post .forumlastpost .lastpostdate {
	font-size: 11px;
}

.forumbit_post .forumlastpost .lastposttitle a, .forumbit_post .forumlastpost .lastpostby a {
/*	color: #000000; */
}

.lastpostlabel {
	display: none;
}

.moderators, .subforums {
	display: block;
	clear:both;
}

.moderators h4, .subforums h4 {
	font-weight: bold;
	padding-right: 5px;
}

.moderators h4, .moderators .commalist, .subforums h4, .subforums .commalist {
	float:left;
	clear:right;
}

/* Project Tools Forum Display */
.forumstats dt {
	display: inline;
	margin-right: 0;
}

.forumstats dl {
	color: rgb(0, 0, 0);
	font-size: 13px;
	display: block;
	text-align: right;
}

.forumstats dd {
	display: inline-block;
	padding-left: 10px;
	padding-right: 20px;
}

.forumstats dt:after {
	content:":";
}


/* CSS Document */

#forums {
width: 100%;
}

#welcomemessage {
	color:rgb(0, 0, 0);
	font-size:100%;
}


/* wgo */
.wgo_block {
	display:block;
	clear:both;
	width: 100%;
	margin-top: 15px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	-moz-box-shadow: -2px 2px 2px #c8c8c8;
	margin-bottom: 10px;
}

.wgo_block h2 {
	font:   bold 12px Tahoma,Calibri,Verdana,Geneva,sans-serif;
	color: #fff;
	background: #2b2b2b;
	_background-image: none;
	border: 0px solid rgb(113 65 65);
	width: 100%;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
}

.wgo_block .time {
	color: rgb(0, 0, 0);
}

.wgo_block h2 span {
	display:block;
	padding: 4px 0;
	padding-left: 10px;
	border: 1px solid #2b2b2b;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
}

.wgo_block div.floatcontainer {
	background: #202020;
	_background-image: none;
	/* border-top: 1px solid rgb(255, 255, 255); */
}

.wgo_block .wgo_subblock {
	display:block;
	padding: 4px 0;
	border-bottom: 1px solid #2b2b2b;
	border-right: 1px solid #2b2b2b;
	border-left: 1px solid #2b2b2b;
	font-size: 12px;
	clear:both;
	width: 99.9%;
}

.wgo_subblock h3 {
	padding-left: 10px;
	font:   bold 13px Tahoma,Calibri,Verdana,Geneva,sans-serif;
	color: #fff;
	padding-bottom: 5px;
}

.wgo_subblock h3 img {
	padding-right: 5px;
}

.wgo_subblock div, .wgo_subblock ol {
	padding-left: 20px;
}

.wgo_subblock div p {
	padding-bottom: 5px;
}

.wgo_subblock div ol {
	padding-left: 0;
}

.wgo_subblock dl dt {
	display:inline;
}

.wgo_subblock dl dt:after {
	content:":";
}

.wgo_subblock dl dd {
	display: inline;
	margin-right:5px;
}

.wgo_subblock dl.icon_legends dt {
	float: left;
	clear: right;
	margin-right: 5px;
}

.wgo_subblock dl.icon_legends dt:after {
	content: "";
}

.wgo_subblock dl.icon_legends dd {
	margin-bottom: 5px;
	display:block;
}

/****************************/
/* Don't use left and right stylevar here */
#content_container {
	width:100%;
	float:left;
	margin-right: -290px;
	padding: 10px 0;
}
#content_container.contentright {
	float:right;
	margin-right:0;
	margin-left:-280px;
}

#content_container #content {
	margin-right:290px;
}
#content_container.contentright #content {
	margin-right:0;
	margin-left:280px;
}

/*-----------------------------------*/
/* SIDEBAR */
/* Don't use left and right stylevar here */
#sidebar_container {
	float:right;
	width:270px;
	padding:17px 0;
	margin-bottom:3em;

}

#sidebar_container.sidebarleft {
	float:left;
}

#sidebar_button {
	display:block;
	margin-top: 40px;
	float:right;
	margin-right:-28px;
	_margin: 40px 0 0 0;
	_display: inline-block;
}
#sidebar_button {
	_display: inline;
}
#sidebar_container.sidebarleft #sidebar_button {
	float:left;
	margin-left:-28px;
}

#sidebar_container .block {
	margin-bottom:4px;
	padding:6px;
	background:#f1f1f1 url(https://forum.videohelp.com/images/misc/blog/top-highlight.png) repeat-x left top;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
}

#sidebar_container .blockbody {
	color: #424242;
	background:rgb(255, 255, 255);
	-moz-border-radius:3px;
	-webkit-border-radius: 3px;
	padding:0;
	border:1px solid #DADADA;
}

#sidebar_container .blockrow {
	border-top:1px solid rgb(255, 255, 255); /* makes the bevel look part of the background */
	-moz-border-radius:3px;
	-webkit-border-radius: 3px;
	background:rgb(255, 255, 255) url(https://forum.videohelp.com/images/misc/blog/gradient-black-down.png) repeat-x  ;
	_background-image: none;
}

#sidebar_container .underblock {
	height:9px;
	background:transparent url(https://forum.videohelp.com/images/misc/blog/bottom-shadow.png) repeat-x left bottom;
}

#sidebar_container .blockrow,
#sidebar_container .blocksubhead {
	padding:10px 6px 10px 6px;
	color: #424242;
}

#sidebar_container .blocksubhead {
	background:transparent none;
	height:17.99px;
	padding: 5px 6px;
	border:none;
	outline:none;
	font-weight:bold;
}

#sidebar_container .blocksubhead span.blocktitle {
	width:200px;
	display:block;
	white-space:nowrap;
	float:left;
	overflow:hidden;
	padding-left:3px;
}

#sidebar_container .blocksubhead img {
	vertical-align:middle;
	float: left;
}

#sidebar_container .blocksubhead img.inlineimg {
	float: none;
	position: relative;
	top: -2px;
}
/* Add a "middle" font size, between default and small */
#sidebar_container .blocksubhead.smaller {
	font:normal normal bold 13px Tahoma,Calibri,Verdana,Geneva,sans-serif;
}

#sidebar_container .blockrow {
	font-size:13px;
}

#sidebar_container .blockrow .meta {
	font-size:11px;
}

#sidebar_container .blocksubhead a.username {
	padding-right:20px;
}

#sidebar_container .formcontrols .blockrow label {
	width:auto;
}

#sidebar_container .advanced.blockfoot {
	padding:6px;
	border-bottom:none;
	font-size:88%;
	font-weight:bold;
	background: transparent;
}
#sidebar_container .searchblock .advanced a {
	line-height:2;
}

#sidebar_container .searchblock .advanced .button {
	float:right;
}


#sidebar_container > ul {
	background-color:#f1f1f1;
	border:1px solid #c1c1c1;
	-moz-border-radius:3px;
	-webkit-border-radius: 3px;
	-moz-box-shadow:-2px 2px 2px #c8c8c8;
	float:left;
	width:100%;
}


.avatarcontent {
	padding-top:10px;
}
.avatarcontent:first-child {
	padding-top:0;
}
.smallavatar {
	height:30px;
	width:30px;
	overflow:hidden;
	float:left;
}
div.smallavatartext {
	margin-left: 40px;
	margin-top: -30px;
	float:right;
	width:202px;
	word-wrap:break-word;
}

#sidebar_container a.collapse {
	position:static;
}
#sidebar_container a.title {
	font-weight:bold;
}

a.tagcloudlink:link, a.tagcloudlink:visited {
	text-decoration:none;
}

a.tagcloudlink:hover,
a.tagcloudlink:active {
	text-decoration:underline;
}

a.level1 {
	font-size: xx-small;
}

a.level2 {
	font-size: small;
}

a.level3 {
	font-size: medium;
}

a.level4 {
	font-size: large;
}

a.level5 {
	font-size: xx-large;
}

#tag_searchbox {
	text-align: center; padding: 6px;
}

#tag_search {
	margin-top:10px;
}