@charset "UTF-8";
/* CSS Document */

body {
	margin:0;
	padding:0;
	min-width:0;
}

.blockfoot {
	text-align:center;
}

#attachments dl.total,
#whoposted dl.total {
	float:right;
        padding:5px;
}

.posterlist .blockrow img {
	vertical-align:middle;
}

.posterlist .blockrow {
	border-bottom: 1px solid #484848;
	background: #2b2b2b;
}

.posterlist .blockrow:last-child {
	border-bottom:none;
}

.posterlist .blockrow ul.stats, .posterlist .blockrow ul.desc, .posterlist .blockrow dl {
	float:right;
	font-size:11px;
	margin-left:10px;
}

.posterlist .blockrow ul.desc {
	text-align:right;
	padding-right:10px;
}

.posterlist .blockrow .attachment {
	line-height:2em;
	white-space:nowrap;
	overflow:hidden;
}

/* Smilie Popup */

#smilies p.description {
	font-size:11px;
	font-decoration:normal;
}

#smilies ul.smilielist li {
	float:left;
	margin:5px;
	width:75px;
	height:78px;
	text-align:center;
	position:relative;
	overflow:hidden;
}

#smilies ul.smilielist li div.smilie {
	width:71px;
	height:57px;
	overflow:hidden;
	background: #202020;
	border-top: solid 1px #484848;
	border-right: solid 1px #484848;
	border-left: solid 1px #484848;
	/* padding:2px; */
}

#smilies ul.smilielist li div.table {
	display:table;
	margin:auto;
	height:100%;
}

#smilies ul.smilielist li div.tablecell {
	display:table-cell;
	vertical-align:middle;
}

#smilies ul.smilielist li div.smilie img {
	height:auto;
	max-width:71px;
	width:auto !important;
}

#smilies ul.smilielist li div.label {
	font-size:11px;
	overflow:hidden;
	white-space:nowrap;
	height:14px;
	background: #2b2b2b;
	border-bottom: 1px solid #484848;
	border-left: 1px solid #484848;
	border-right: 1px solid #484848;
	width: 71px;
}

/* Contact Popup */

#contacts li input {
	float:right;
}

a.username.online {
	background:url(https://forum.videohelp.com/images/statusicon/user-online.png) top left no-repeat;
	padding-left:1.5em;
}

a.username.offline {
	background:url(https://forum.videohelp.com/(vb:stylevar imgdir_statusicon}/user-offline.png) top left no-repeat;
	padding-left:1.5em;
}

a.username.invisible {
	background:url(https://forum.videohelp.com/(vb:stylevar imgdir_statusicon}/user-invisible.png) top left no-repeat;
	padding-left:1.5em;
}

/* Old Attachment Manager */

#attachments .errorlist .title {
	font-weight:bold;
}

#attachments .errorlist li {
	list-style-type:disc;
	margin-left:1.5em;
}

#attachments .urlboxlist li,
#attachments .attachboxlist li {
	float:left;
	margin-right:1.5em;
}

#attachmentkey {
	width:100%;
}

#attachmentkey tr.tablerow {
	background:rgb(238, 238, 238)  bottom repeat-x;
	border-top:solid 1px rgb(204, 204, 204);
}

#attachmentkey tr.tablerow td {
	padding:10px;
}