@charset "UTF-8";
/* CSS Document */

/* MAIN MESSAGE LIST */

#usercp_content #above_postlist {
	position: relative;
	margin-top: 0;
}
#above_postlist #pagination_top {
	top: 0;
	float:right;
}
#below_postlist #pagination_bottom {
	clear: both;
	float:right;
	margin-top: -10px;
}
.pmbit {/* margin: 0 -1px; */border-right: 0px solid rgb(204, 204, 204);border-left: 0px solid rgb(204, 204, 204);}
#above_postlist .folderstats {
	float: right;
	clear:both;
	clear:left;
	vertical-align:middle;
	font-size: 13px;
	color: #ccc;
	padding-top: 0px;
	margin-right: 5px;
	margin-top: 2px;
}


#pmform {
	padding-top:10px;
}

#usercp_content #pmform {
	padding-top: 0;
}

#pmfolderlist {
	margin-bottom:1em;
}

#pmfolderlist .blockrow.imod_highlight {
	background:#ffeb90;
}

#folderpicker {
	float:right;
}

#foldercontrols .blocksubhead {
	font-weight:normal;
}

#foldercontrols .blocksubhead a {
	text-decoration:underline;
}

#foldercontrols .totals {
	width:100%;
	border:2px outset #999999;
}

#foldercontrols .totals .quota,
#foldercontrols .totals .allfolders,
#foldercontrols .totals .thisfolder {
	height:10px;
	float:left;
}

#foldercontrols .totals .thisfolder {
	background-color:red;
}

#foldercontrols .totals .allfolders {
	background-color:orange;
}

#foldercontrols .totals .quota {
	background-color:green;
}

#pagination_top {
	padding-bottom:10px;
}

.foldercount {
	float:right;
	padding:5px 10px;
}

.blockbody .foldercount {
	font-size:11px;
}

input.checkall {
	 float:right;
	 margin-top:5px;
	 margin-right:10px;
}

.pmlist .blockrow {
	/* border-bottom: 1px solid #484848; */
	border-top: 1px solid #484848;
	border-right: 1px solid #484848;
	border-left: 1px solid #484848;
	background: #2b2b2b;
	clear: both;
	position: relative;
}
.pmlist .blockrow hr.none {
	display: none;
	clear: both;
}
.pmlist .blockrow:last-child {
	border-bottom:none;
}
.pmlist .blockrow .datetime {
	float:right;
	font-size:11px;
	text-align:right;
	padding-left:10px;
	margin-right:20px;
}

.pmlist input[type="checkbox"] {
	position:absolute;
	top:10px;
	right:10px;
}

.pmlist .blockrow .time {
	display:block;
}
.pmlist .blockrow .threadicon {
	float:left;
	margin-right:10px;
}
.pmlist .blockrow .posticon {
	vertical-align:middle;
}
.pmlist .blockrow .title {
	font-size:13px;
}

.pmlist .blockrow .commalist {
	font-size:12px /*11px*/;
	padding-top:0.3em;
}

.pmlist .blockrow.ignore {
	font-size:11px;
}

.pmlist .blockrow .unread {
	font-weight:bold;
}
.pmlist .blockbody {
        border-top: none;
}
#pmfolderlist .blockfoot .popupmenu {
	float:right;
}

#pm_filterform {
	margin-top:10px;
}

#newpm_bottom {
	background: rgb(239, 239, 239) url(https://forum.videohelp.com/images/gradients/generic_button.png) repeat-x left top;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-box-shadow: 0 3px 8px rgb(255, 255, 255);
	-webkit-box-shadow: 0 3px 8px #e1e1e1;
	font:   bold 12px Tahoma, Arial, sans-serif;
	color: rgb(21, 21, 21);
	padding: 1px 15px 1px 15px;
	border: 0;
	display:inline-block;
	clear:both;
}

#newpm_bottom span {
	font-size:15px;
	font-weight:bold;
	display:inline;
}

#newpm_bottom:hover {
	background: rgb(255, 255, 255) url(https://forum.videohelp.com/images/buttons/newbtn_middle.png) repeat-x left top;
}

/* MESSAGE TRACKING */

.blockrow dl.stats.description {
	color: #ccc;
}

a.empty {
	float:right;
	font-size:11px;
}

.labellink {
	width:55%;
}

#customfolders .blocksubhead {
	font-weight:normal;
}

#customfolders .blocksubhead .bold {
	font-weight:bold;
}

#standardfolders .floatcontainer {
	margin-top:0.5em;
}

.formctrls {
	float:right;
}

#formctrls .popupbody .optionlabel {
	text-align:center;
	font-weight:bold;
}

.receiptlist {
	font-size:11px;
}

.receiptlist .blockrow {
	border-bottom:solid 1px rgb(204, 204, 204);
	background:rgb(238, 238, 238)  repeat-x bottom;
	padding:0;
}

.receiptlist .blockrow .delete {
	float:right;
	vertical-align:middle;
	text-align:center;
	padding:10px;
	padding-left:0;
}

.receiptlist .blockrow:last-child {
	border-bottom:none;
}

.receiptlist .blockrow .datedesc {
	float:right;
	padding:10px;
	padding-right:0px;
	text-align:right;
}

.receiptlist .blockrow .datetime {
	float:right;
	padding:10px;
}

.receiptlist .blockrow .message {
	padding:10px;
}

.receiptlist .blockrow .message .title {
	font-weight:bold;
}

.popupbody li.formsubmit {
	text-align:center;
}

.blockrow.hidden {
	display:none;
}

#bccspan {
	float:right;
}

/* PM */

#showpm .abovepm a.textcontrol {
	float:right;
}

#showpm .abovepm ol {
	display:inline;
}

#showpm .abovepm .bold {
	font-weight:bold;
}
dl.stats dt.folder_count, dl.stats dd.folder_count {
	color: #fff;
	font-size: 11px;
	display: inline;
margin-top: -2px;
}